---
---
@charset "utf-8";

@import "theme";
@import "mixins";

#admin {
  .period-selector {
    span{
      margin-right: 1em;
    }

    a {
      width: 10em;
    }
  }

  .search-container {
    margin: 1em;

    .search-field {
      padding: 0 0;
    }
  }

  .bulk-actions-container {
    .bulk-actions {
      i {
        margin-right: 1em;
      }
    }

    .dropdown-menu {
      right: 0;
      left: auto;
      
      li {
        color: $white;
        padding: 12px 15px;
        font-size: 1.2em;
        
        &:hover {
          background-color: #006d91;
        }
        
        .checkbox-container {
          padding: 0 0;
          vertical-align: middle;
        }

        .column-text {
          margin-left: 15px;
        }
      }
    }
  }

  table {
    margin-top: 2em;
    
    th {
      .row-actions {
        white-space: nowrap;

        i {
          margin-right: 0.6em;
          cursor: pointer;
        }
      }
    }
  }

  .pagination-container {
    text-align: center;
  }
}