---
layout: admin
---
<div class="container" ng-controller="ListController">
  <a href="#" class="btn btn-success help-trigger pull-right wow bounceInLeft" data-wow-offset="50" data-wow-duration="3s" data-wow-delay="1s" onclick="introJs().start(); return false;"><i class="fa fa-info-circle"></i> Help</a>
  <h1>Payments</h1>

  <div class="search-container" data-step="2" data-intro="Search here">
    <div class="form-group">
      <div class="input-group">
        <div class="row">
          <div class="col-md-6 search-field">
            <input type="text" class="form-control" placeholder="Enter Search Text" ng-model="query">
          </div>
          <div class="col-md-4 search-field">
            <select class="form-control" id="select">
              <option>Any</option>
              <option>Receipt Number</option>
              <option>Cheque Number</option>
              <option>Draft Number</option>
              <option>NEFT Txn #</option>
              <option>Overseas Transfer Txn #</option>
            </select><!-- 
            <span class="input-group-btn">
                <a href="#" class="btn btn-default">Any</a>
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Receipt Number</a></li>
                  <li><a href="#">Cheque Number</a></li>
                  <li><a href="#">Draft Number</a></li>
                  <li><a href="#">Draft Number</a></li>
                  <li><a href="#">NEFT Txn #</a></li>
                  <li><a href="#">Overseas Transfer Txn #</a></li>
                </ul>
            </span> -->
          </div>
          <div class="col-md-2 search-field">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Search</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bulk-actions-container pull-right" data-step="1" data-intro="These are bulk actions">
    <div class="btn-group">
      <a href="#" class="btn btn-primary" title="Details">
        <i class="fa fa-list"></i>
      </a>
      <a href="#" class="btn btn-primary" title="Revert">
        <i class="fa fa-undo"></i>
      </a>
      <a href="#" class="btn btn-primary" title="Delete">
        <i class="fa fa-trash-o"></i>
      </a>
      <a href="#" class="btn btn-primary" title="Edit">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="#" class="btn btn-primary" title="Email Receipt">
        <i class="fa fa-envelope-o"></i>
      </a>
      <a href="#" class="btn btn-primary" title="Download Receipt">
        <i class="fa fa-download"></i>
      </a>
    </div>

    <div class="btn-group">
      <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Modify Visible Columns">
        <i class="fa fa-cog"></i>
      </a>
      <ul class="dropdown-menu">
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showBlock"></span><span class="column-text">Block</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showUnit"></span><span class="column-text">Unit</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showPaymentType"></span><span class="column-text">Payment Type</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showAmount"></span><span class="column-text">Amount</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showPaymentDate"></span><span class="column-text">Payment Date</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showBankName"></span><span class="column-text">Bank Name</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showDated"></span><span class="column-text">Dated</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showChequeNo"></span><span class="column-text">Cheque No</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showReceiptNo"></span><span class="column-text">Receipt No</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showDepositedIn"></span><span class="column-text">Deposited In</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showPaymentNarration"></span><span class="column-text">Payment Narration</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showStatus"></span><span class="column-text">Status</span></li>
        <li><span class="checkbox-container"><input type="checkbox" ng-model="showActions"></span><span class="column-text">Actions</span></li>
      </ul>
    </div>
  </div>

  <div class="period-selector">
    <span>Show:</span>
    <a href="#" class="btn btn-primary">Current Month</a>
    <a href="#" class="btn btn-default">Last Month</a>
    <a href="#" class="btn btn-default">Last 3 Months</a>
    <a href="#" class="btn btn-default">All</a>
  </div>

  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th ng-show="showBlock">Block <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('block')"></i></div></th>
        <th ng-show="showUnit">Unit # <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('unit')"></i></div></th>
        <th ng-show="showPaymentType">Payment Type <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('paymentType')"></i></div></th>
        <th ng-show="showAmount">Amount <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('amount')"></i></div></th>
        <th ng-show="showPaymentDate">Payment Date <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('paymentDate')"></i></div></th>
        <th ng-show="showBankName">Bank Name <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('bankName')"></i></div></th>
        <th ng-show="showDated">Dated <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('dated')"></i></div></th>
        <th ng-show="showChequeNo">Cheque<br>/Txn # <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('chequeNo')"></i></div></th>
        <th ng-show="showReceiptNo">Receipt # <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('receiptNo')"></i></div></th>
        <th ng-show="showDepositedIn">Deposited In <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('depositedIn')"></i></div></th>
        <th ng-show="showPaymentNarration">Payment<br>Narration <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('paymentNarration')"></i></div></th>
        <th ng-show="showStatus">Status <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('status')"></i></div></th>
        <th ng-show="showActions">Actions <div class="row-actions"><i class="fa fa-filter"></i><i class="fa fa-sort"></i><i class="fa fa-minus-circle" ng-click="hideColumn('actions')"></i></div></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="payment in payments | filter: query">
        {% raw %}
        <td><input type="checkbox"></td>
        <td ng-show="showBlock">{{payment.block}}</td>
        <td ng-show="showUnit">{{payment.unit}}</td>
        <td ng-show="showPaymentType">{{payment.paymentType}}</td>
        <td ng-show="showAmount">{{payment.amount}}</td>
        <td ng-show="showPaymentDate">{{payment.paymentDate}}</td>
        <td ng-show="showBankName">{{payment.bankName}}</td>
        <td ng-show="showDated">{{payment.dated}}</td>
        <td ng-show="showChequeNo">{{payment.chequeNo}}</td>
        <td ng-show="showReceiptNo">-</td>
        <td ng-show="showDepositedIn">-</td>
        <td ng-show="showPaymentNarration">-</td>
        <td ng-show="showStatus">{{payment.status}}</td>
        <td ng-show="showActions">
          <i class="fa fa-list" title="Details"></i>
          <i class="fa fa-undo" title="Revert"></i>
          <i class="fa fa-trash-o" title="Delete"></i>
          <i class="fa fa-pencil" title="Edit"></i>
          <i class="fa fa-envelope-o" title="Email Receipt"></i>
          <i class="fa fa-download" title="Download Receipt"></i>
        </td>
        {% endraw %}
      </tr>
    </tbody>
  </table>

  <div class="pagination-container">
    <ul class="pagination">
      <li class="disabled"><a href="#">Previous</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
</div>

<!-- 
TODO:
1. Make the page look pretty
2. Explain the user what each section does
3. Try to put functionalty
 -->
