<header>
  <img src="images/logo-transparent.png" alt="Apna Complex Logo" id="logo" class="pull-left">
  <div id="login-actions" class="pull-right">
    <a href="#" class="nav-links" id="features-nav-link">Features</a>
    <span class="separator">|</span>
    <a href="" class="nav-links">Pricing</a>
    <span class="separator">|</span>
    <a href="" class="nav-links">Partners/Re-sellers</a>
    <span class="separator">|</span>
    <a href="" class="nav-links">Classifieds</a>
    <span class="separator">|</span>
    <a href="" class="nav-links">Blog</a>
    <span class="separator">|</span>
    <a href="" class="nav-links">FAQs</a>
    <span class="separator">|</span>
    <a href="" class="nav-links">Contact</a>
    <span id="buttons_container">
      <a href="#" id="login" class='nav-button'>Login</a>
      <a href="#" id="signup" class='nav-button'>Register</a>
    </span>
  </div>
</header>